<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REAP</title>
    <link th:href="@{'/stylesheets/application.css'}" rel="stylesheet"/>
    <script th:src="@{'/javascript/jquery-3.3.1.min.js'}"></script>
    <script th:src="@{'/javascript/application.js'}"></script>
    <link th:href="@{'/bootstrap-3.3.7-dist/css/bootstrap.css'}" rel="stylesheet"/>
    <script th:src="@{'/bootstrap-3.3.7-dist/js/bootstrap.js'}"></script>

</head>

<body>
<div id="container-fluid">
    <!--Header Section-->
    <header th:insert="layouts/common.html :: header"></header>
    <div class="middle-section">

        <div id="banner">

            <div class="container">
                <!-- LOGIN SECTION -->
                <div class="login">
                    <a href="#" class="btn btn-info btn-lg" data-toggle="modal" data-target="#login">
                        <span class="glyphicon glyphicon-log-in"></span> Log in
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="login" tabindex="-1" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" id="mod_cls" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Login</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="panel panel-primary">

                                        <div class="panel-body">


                                            <form class="form-horizontal" th:action="@{'/login'}" th:object="${user}"
                                                  method="post" autocomplete="off" id="signInForm">
                                                <div class="col-md-12">
                                                    <div class="alert alert-success" role="alert" th:if="${msg}"
                                                         th:utext="${msg}"></div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="control-label col-sm-2"
                                                           for="userName">Username:<span>*</span></label>
                                                    <div class="col-sm-10">
                                                        <input type="text" th:field="*{userName}" class="form-control"
                                                               id="userName"
                                                               placeholder="Enter Username"
                                                               name="username">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2"
                                                           for="loginpwd">Password:<span>*</span></label>
                                                    <div class="col-sm-10">
                                                        <input type="password" th:field="*{password}"
                                                               class="form-control" id="loginpwd"
                                                               placeholder="Enter Password"
                                                               name="password">
                                                    </div>
                                                </div>


                                                <div class="modal-footer">
                                                    <div class="form-group">
                                                        <a href="#" data-toggle="modal" data-target="#forgotPassword">Forgot
                                                            Password</a>
                                                        <button type="submit" id="submitForm" class="btn btn-primary">Sign In</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SIGNUP SECTION -->
                <div class="signUp">

                    <a href="#" class="btn btn-info btn-lg" data-toggle="modal" data-target="#signup">
                        <span class="glyphicon glyphicon-registration-mark"></span> Register
                    </a>
                    <div class="modal fade" id="signup" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Register</h4>
                                </div>
                                <div class="modal-body">


                                    <div class="panel panel-primary">
                                        <!--<div class="panel-heading">Sign Up</div>-->
                                        <div class="panel-body">


                                            <form id="registeration" enctype="multipart/form-data" class="form-horizontal"
                                                   th:Object="${user}" method="post"
                                                  autocomplete="off">

                                                <!--<div class="form-group">-->
                                                <!--<div class="col-sm-10">-->
                                                <!--<div class="alert alert-success" role="alert" th:if="${message}"-->
                                                <!--th:text="${message}"></div>-->
                                                <!--</div>-->
                                                <!--</div>-->

                                                <!-- FirstName -->
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2"
                                                           for="firstName">FirstName:<span>*</span></label>
                                                    <div class="col-sm-10">
                                                        <input type="text" th:field="*{firstName}" class="form-control"
                                                               id="firstName" placeholder="Enter FirstName">

                                                    </div>
                                                </div>

                                                <!-- LastName -->
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2"
                                                           for="lastName">LastName:<span>*</span></label>
                                                    <div class="col-sm-10">
                                                        <input type="text" th:field="*{lastName}" class="form-control"
                                                               id="lastName" placeholder="Enter LastName">

                                                    </div>
                                                </div>

                                                <!-- UserName -->
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2"
                                                           for="userNameSign">UserName:<span>*</span></label>
                                                    <div class="col-sm-10">
                                                        <input type="text" th:field="*{userName}" class="form-control"
                                                               id="userNameSign" placeholder="Enter UserName" required>

                                                    </div>
                                                </div>

                                                <!-- Email Address -->
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2"
                                                           for="email">Email:<span>*</span></label>
                                                    <div class="col-sm-10">
                                                        <input type="email" th:field="*{email}" class="form-control"
                                                               id="email"
                                                               placeholder="abc@tothenew.com">

                                                    </div>
                                                </div>

                                                <!--UserName ALready exists error message!!-->
                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        <div class="form-control-feedback">
                                                <span class="text-danger align-middle"
                                                      th:if="${#fields.hasErrors('userName')}"
                                                      th:errors="*{userName}">

                                                </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Password -->
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2"
                                                           for="pwd">Password:<span>*</span></label>
                                                    <div class="col-sm-10">
                                                        <input type="password" th:field="*{password}"
                                                               class="form-control"
                                                               id="pwd" placeholder="Enter Password" required>

                                                    </div>
                                                </div>

                                                <!-- Add Photo -->
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <label class="custom-file-label control-label col-sm-2"
                                                               for="customFile">Photo:</label>
                                                        <div class="col-sm-10">
                                                            <input type="file" class="custom-file-input form-control"
                                                                   id="customFile">
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="modal-footer">
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-2 col-sm-10">
                                                            <button id="signin" type="button" class="btn btn-primary"
                                                                   onclick="SaveForm()" >
                                                                Register
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- FORGOT PASSWORD MODAL SECTION -->
                <div class="modal fade" id="forgotPassword" role="dialog" style="background-color: beige">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Forgot Password</h4>
                            </div>
                            <div class="modal-body">
                                <!-- <p>Invitation Sent Successfully!</p> -->
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        <form class="form-horizontal" action="#" autocomplete="off">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="email">Email:</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="email"
                                                           placeholder="abc@tothenew.com"
                                                           name="email" required>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">

                                    <button type="button" class="btn btn-primary">Send Password</button>

                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
    <footer th:insert="layouts/common.html :: footer"></footer>
</div>
</body>

</html>